/*=========== general stylings ===========*/

body {
  padding-top : 8%;
  overflow-x : hidden;
}

a {
  color : inherit;
  text-decoration : none;
}

a:hover {
  text-decoration : none;
}

a:visited {
  text-decoration : none;
  color : white;
}


/*=========== mobile styles ===========*/

@media (max-width : 767px) {
  .banner {
    margin-top : 20% !important;
  }

  .nav li, .nav li a {
    display : inline !important;
  }

  .links {
    padding-left : 30px !important;
  }

}

#mobile-button {
  margin : 5% 15px 8px 0;
}


/*=========== nav stylings ===========*/

.navbar-default {
  background : #333;
}

.navbar-brand {
  margin-top : 10.5px;
  font-size : 1.35em;
}

.links {
  color : white;

  i {
    background-color : #333;
    font-size : 2em;
    padding : 5px 15px;
    margin-top : 15px;
  }
  p{
    color : white;
    font-size : 2em;
    font-weight : bold;
    margin-top : 15px;
    padding : 5px 15px;
    display : inline-block;
  }
  span {
    font-size : 1.5em;
    opacity : 0;
    margin-right : 50px;
    transition : 350ms 300ms;
  }

}

.navbar-right a:hover {

  color : white;

  span {
    opacity : 1;
  }

}


/*=========== upper page stylings ===========*/

.banner {
  margin-top : 5%;
}

.banner h3 {
  line-height : 200%;
}

.headline {
  margin : 8% auto 1%;
}

.headline h1 {
  font-size : 3.5em;
}

/*=========== project stylings ===========*/

.preview {
  padding : 0;
}

.description {
  margin-top : 3%;
  font-size : 1.75em;
}

.description p {
  margin : 6% 3%;
}

.preview img {
  filter : grayscale(50%);
  width : 100%;
  height : 100%;
  border-radius : 5px;
}


.odd .preview img {
  margin-left : -6%;
  box-shadow : -3px 5px 10px -2px gray;
}

.even .preview img {
  margin-left : 6%;
  box-shadow : 3px 5px 10px -2px gray;
}

.app {
  margin : 12% 0;
}

.app p, .app img {
  transition : 0.5s;
}

.odd:hover {

  img {
    filter : grayscale(0%);
    margin-left : 8%;
    transition : 1.5s 300ms;
  }
  p {
    margin-right : 10%;
    transition : 1.5s 300ms;
  }
}

.even:hover {
  img {
    filter : grayscale(0%);
    margin-left : -8%;
    transition : 1.5s 300ms;
  }
  p {
    margin-left : 10%;
    transition : 1.5s 300ms;
  }
}

/*=========== tech stack stylings ===========*/

.quote {
  margin-top : -5%;
  h3 {
    line-height : 200%;
  }
}

.stack {
  display : flex;
  flex-flow : row wrap-reverse;
  justify-content : space-between;
  align-items : center;
  align-content : space-between;
  margin : 5%;
}

.tech {
  margin : 10px auto;
}

.wide img {
  width : 240px;
  height : auto;
}

.tall img {
  height : 100px;
  width : auto;
}

/*=========== lower page stylings ===========*/
.meetups {
  margin : 0 5% 5%;

  h3 {
    line-height : 200%;
  }
}

.meetups a {
  margin-bottom : 5%;
  border-bottom : 3px solid #b4e7f8;
  box-shadow : inset 0 -7px 0 #b4e7f8;
  transition : background 300ms;
}

.meetups a:hover {
  color : #333333;
  background : #b4e7f8;
}

.meetups a:visited {
  color : #333;
}











