/*=========== general stylings ===========*/

body {
  padding-top : 8%;
  overflow-x : hidden;
}

a {
  color : inherit;
}

a:hover {
  text-decoration : none;
}

/*=========== nav stylings ===========*/

.navbar-default {
  background : #333;
}

.navbar-brand {
  margin-top : 10.5px;
  font-size : 1.5em;
}

.links i {
  background-color : #333;
  font-size : 2em;
  padding : 5px 15px;
  margin-top : 15px;
}

.links {
  color : white;

  span {
    font-size : 1.5em;
    opacity : 0;
    margin-right : 50px;
    transition : 350ms 300ms;
  }

}

.navbar-right a:hover {

  color : white;

  span {
    opacity : 1;
  }

}


/*=========== upper page stylings ===========*/

.banner {
  margin-top : 5%;
}

.banner h3 {
  line-height : 200%;
}

.headline {
  margin : 8% auto 1%;
}

.headline h1 {
  font-size : 3.5em;
}

/*=========== project stylings ===========*/

.preview {
  padding : 0;
}

.description {
  margin-top : 3%;
  font-size : 1.75em;
}

.description p {
  margin : 6% 3%;
}

.preview img {
  filter : grayscale(50%);
  width : 100%;
  height : 100%;
  border-radius : 5px;
}


.odd .preview img {
  margin-left : -6%;
  box-shadow : -3px 5px 10px -2px gray;
}

.even .preview img {
  margin-left : 6%;
  box-shadow : 3px 5px 10px -2px gray;
}

.app {
  margin : 12% 0;
}

.app p, .app img {
  transition : 0.5s;
}

.odd:hover {

  img {
    filter : grayscale(0%);
    margin-left : 8%;
    transition : 1.5s 300ms;
  }
  p {
    margin-right : 10%;
    transition : 1.5s 300ms;
  }
}

.even:hover {
  img {
    filter : grayscale(0%);
    margin-left : -8%;
    transition : 1.5s 300ms;
  }
  p {
    margin-left : 10%;
    transition : 1.5s 300ms;
  }
}

/*=========== lower page stylings ===========*/
.meetups {
  margin : 0 5% 5%;

  h3 {
    line-height : 200%;
  }
}

.meetups a {
  margin-bottom : 5%;
  border-bottom : 3px solid #b4e7f8;
  box-shadow : inset 0 -7px 0 #b4e7f8;
  transition : background 300ms;
}

.meetups a:hover {
  color : #333333;
  background : #b4e7f8;
}











