body {
  padding-top: 8%;
  overflow-x: hidden; }

a {
  color: inherit; }

a:hover {
  text-decoration: none; }

.navbar-default {
  background: #333; }

.navbar-brand {
  margin-top: 10.5px;
  font-size: 1.5em; }

.banner {
  margin-top: 5%; }

.banner h3 {
  line-height: 200%; }

.headline {
  margin: 8% auto 1%; }

.headline h1 {
  font-size: 3.5em; }

.preview {
  padding: 0; }

.description {
  margin-top: 3%;
  font-size: 1.75em; }

.description p {
  margin: 6% 3%; }

.preview img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.odd .preview img {
  margin-left: -6%;
  box-shadow: -3px 5px 10px -2px gray; }

.even .preview img {
  margin-left: 6%;
  box-shadow: 3px 5px 10px -2px gray; }

.app {
  margin: 12% 0; }

.app p, .app img {
  -webkit-transition: 0.5s;
          transition: 0.5s; }

.odd:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  margin-left: 8%;
  -webkit-transition: 1.5s 300ms;
          transition: 1.5s 300ms; }

.odd:hover p {
  margin-right: 10%;
  -webkit-transition: 1.5s 300ms;
          transition: 1.5s 300ms; }

.even:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  margin-left: -8%;
  -webkit-transition: 1.5s 300ms;
          transition: 1.5s 300ms; }

.even:hover p {
  margin-left: 10%;
  -webkit-transition: 1.5s 300ms;
          transition: 1.5s 300ms; }

.meetups a {
  border-bottom: 3px solid #b4e7f8;
  box-shadow: inset 0 -7px 0 #b4e7f8;
  -webkit-transition: background 300ms;
          transition: background 300ms; }

.meetups a:hover {
  color: #333333;
  background: #b4e7f8; }

.footer {
  margin: 0 5% 5%; }

.links i {
  background-color: #333;
  font-size: 2em;
  padding: 5px;
  margin-top: 15px; }

.links {
  color: white; }
  .links .fa-github {
    margin-right: 30px; }
  .links .fa-linkedin {
    margin-right: 100px; }
  .links span {
    display: none;
    font-size: 1.5em; }

.links
.links:hover {
  color: white; }

.navbar-right:hover .fa-linkedin {
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 500ms;
          transition: 500ms; }

.navbar-right:hover .fa-github {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: 500ms;
          transition: 500ms; }