doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Portfolio
    link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="_styles/main.css")
  body
    .container-fluid
      .row
        h1 Take a look.
      .row.blackjack
        a(href="http://gregdick.github.io/blackjack") Blackjack
      .row.weather
        a(href="http://gregdick.github.io/weather-app") Weather
    script(src="lib/build.js")
