doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Portfolio
    link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="styles/main.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid#nav-container
        .navbar-header#nav-left
          button#mobile-button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#hamburger" aria-expanded="false")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="/#home")
            p.navbar-brand G R E G &nbsp; D I C K
        .collapse.navbar-collapse#hamburger
          ul.nav.navbar-nav.navbar-right#nav-right
            li
              a.links(href="https://github.com/gregdick")
                i.fa.fa-github
                span.hidden-xs GITHUB
            li
              a.links(href="https://www.linkedin.com/in/gregoryjdick")
                i.fa.fa-linkedin
                span.hidden-xs LINKEDIN
            li
              a.links(href="mailto:gregdick.dev@gmail.com")
                p @
                span.hidden-xs EMAIL
    #home.container-fluid
      .row
        .col-lg-5.headshot
          img(src="/img/NSS_headshot_cropped.png")
        .col-lg-6.banner.text-right
          h3 I'm a software developer living in Nashville, TN. For me, coding is both a creative outlet as well as a powerful tool for problem solving. I try to demonstrate that in every application I build.
      .row.headline
        h1.text-center Take a look.
      .row.clipped-in.app.odd
        a(href="https://gregdick.github.io/clipped-in")
          .col-lg-8.preview
            img(src="/img/Clipped-in-preview.png")
          .col-lg-4.description
            p.h2.text-right Clipped In
            p.h4.text-right A Climber's Social Network
      .row.nodetunes.app.even
        a(href="https://node-tunes.herokuapp.com/")
          .col-lg-4.description
            p.h2.text-left Nodetunes
            p.h4.text-left Build Your Own Music Database
          .col-lg-8.preview
            img.border(src="/img/nodetunes-preview.png")
      .row.ticTacToe.app.odd
        a(href="https://tic-tac-toebot.herokuapp.com/")
          .col-lg-8.preview
            img(src="")
          .col-lg-4.description
            p.h2.text-right Tic Tac Toe
            p.h4.text-right Can You Beat the Computer?
      .row.constants.app.even
        a(href="https://constants-co.herokuapp.com/")
          .col-lg-4.description
            p.h2.text-left Constants
            p.h4.text-left My Team's App for the National Day of Civic Hacking
          .col-lg-8.preview
            img.border(src="/img/constants-preview.png")
      .row.blackjack.app.odd
        a(href="http://gregdick.github.io/blackjack")
          .col-lg-8.preview
            img(src="/img/blackjack-preview.png")
          .col-lg-4.description
            p.h2.text-right Blackjack
      .row.myimdb.app.odd
        a(href="http://gregdick.github.io/myimdb")
          .col-lg-8.preview
            img.border(src="/img/myimdb-preview.png")
          .col-lg-4.description
            p.h2.text-right Movies
            p.h4.text-right A To-do List for Watching Movies
      .row.tech-blurb
        .col-lg-7.col-lg-offset-4.text-right
            h3 I'm comfortable using these technologies and excited to learn others.
      .row.stack
        .tech.tall
          img(src="/img/js-logo.jpg")
        .tech.tall
          img(src="/img/HTML5_Logo.png")
        .tech.tall
          img(src="/img/css3.png")
        .tech.wide
          img(src="/img/jade-logo")
        .tech.tall
          img(src="/img/sass-logo.png")
        .tech.wide
          img(src="/img/jQuery-logo.jpg")
        .tech.wide
          img(src="/img/firebase-logo.png")
        .tech.wide
          img(src="/img/nodejs-logo.jpg")
        .tech.wide
          img(src="/img/express-logo.png")
        .tech.wide
          img(src="/img/mongodb-logo.jpeg")
        .tech.tall
          img(src="/img/grunt-logo.png")
        .tech.tall
          img(src="/img/ionic-logo.png")
        .tech.tall
          img(src="/img/mocha-logo.png")
        .tech.tall
          img(src="/img/chai-logo.png")
        .tech.tall
          img(src="/img/postgresql-logo.png")
      .row.meetups
        .col-lg-8.col-lg-offset-1
          h3 Thanks to #[a(href="http://nashvillesoftwareschool.com/") Nashville Software School], #[a(href="http://www.meetup.com/nashjs/") Nash JS], and #[a(href="http://www.codefornashville.org/") Code For Nashville] for being great mentors and teachers.
    script(src="lib/build.js")
